body {
  margin: 0;
}
nav {
  background-color: #4e4d4d;
}
.nav-bar {
  margin: 0 25px 10px 25px;
}
.nav-bar .logo img {
  width: 100px;
}
.nav-bar .menu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.nav-bar .menu h3 {
  border: 2px solid gray;
  border-radius: 25px;
  padding: 0.5px;
}
.nav-bar .menu h3:hover {
  background-color: white;
  transition: 10ms;
}
.nav-bar .menu h3 a {
  color: white;
  text-decoration: none;
  padding: 17px;
}
.nav-bar .menu h3 a:hover {
  color: black;
}
